<div class="main-container">
  <div class="banner">
    <img class="top-bg" src="../../assets/top_bg.png" alt="" />
    <img class="bottom-bg" src="../../assets/bottom_bg.png" alt="" />
    <img class="onbording" src="../../assets/onboarding.svg" alt="" />
  </div>
  <div class="calender">
    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div>
          <img src="../../assets/calender.svg" alt="" />

          <h5>Past 7 Days</h5>
          <img class="dropdown-image" src="../../assets/dropdown.svg" alt="" />
        </div>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <h5>Past 30 Days</h5>
        </div>
        <div class="dropdown-item">
          <h5>Past 90 Days</h5>
        </div>
        <div class="dropdown-item">
          <h5>Past 1 Year</h5>
        </div>
        <div class="dropdown-item">
          <h5>All Time</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card">
      <div class="currency">
        <h2>100k</h2>
        <h3>RC</h3>
      </div>
      <h5>Payments</h5>
    </div>
    <div class="card">
      <div class="currency">
        <h2>100k</h2>
        <h3>RC</h3>
      </div>
      <h5>Cash in</h5>
    </div>
    <div id="card1" class="card">
      <div class="currency">
        <h2>100k</h2>
      </div>
      <h5>Transactions</h5>
    </div>
    <div class="card">
      <div class="currency">
        <h2>100k</h2>
        <h3>RC</h3>
      </div>
      <h5>Withdraw</h5>
    </div>
  </div>

  <div class="graph-container"></div>
</div>
