<div class="main-container">
  <div *ngIf="isLoading" class="spiner">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="profile-container">
    <div class="profile">
      <div class="qr-container">
        <canvas id="qrcode"></canvas>
        <div>
          <h6>Scan this Qrcode to Pay</h6>
          <h3>{{ userTransactionsService.balance }} RC</h3>
        </div>
      </div>
      <div class="info">
        <div class="listtile">
          <div class="avatar">
            <img src="../../../assets/user_profile.svg" alt="" />
          </div>
          <div class="details">
            <h4>Name</h4>
            <h6>{{ userService.selectedUser.name }}</h6>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="listtile">
          <div class="avatar">
            <img src="../../../assets/user_mail.svg" alt="" />
          </div>
          <div class="details">
            <h4>Email</h4>
            <h6>{{ userService.selectedUser.email }}</h6>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="listtile">
          <div class="avatar">
            <img src="../../../assets/user_phone.svg" alt="" />
          </div>
          <div class="details">
            <h4>Phone</h4>
            <h6>+{{ userService.selectedUser.number }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="transactions-container">
      <!-- <div class="header">
        <div class="input-containers">
          <div class="search-inputs">
            <input placeholder="Enter name or number" type="text" />
          </div>
        </div>
        <button>Search</button>
      </div> -->
      <div class="transactions-table">
        <div
          class="transaction"
          *ngFor="let item of transactions; let index = index"
          [class]="{ isSelected: selectedTransaction == index }"
          (click)="selectTransaction(index)"
        >
          <div
            [style]="{ background: getColor(item.number, index) }"
            class="avatar"
          >
            <h1>{{ item.name[0] }}</h1>
          </div>
          <div class="info-container">
            <h5 class="name">{{ item.name }}</h5>
            <h6 class="email">{{ item.number }}</h6>
          </div>
          <div
            [class]="{
              amount: true,
              send: item.isSend,
              received: !item.isSend,
              generated: item.isGenerated
            }"
          >
            <h3>
              {{ item.amount }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="selected-transaction-view">
      <div class="header">
        <div
          [style]="{
            background: getColor(
              transactions[selectedTransaction].number,
              selectedTransaction
            )
          }"
          class="avatar"
        >
          <h1>{{ transactions[selectedTransaction].name[0] }}</h1>
        </div>

        <h4 class="amount">
          {{
            transactions[selectedTransaction].amount
              .replace("+", "")
              .replace("-", "")
          }}
          RC
        </h4>
        <div class="basic-info">
          <h5>
            {{
              transactions[selectedTransaction].isSend
                ? "Paid to"
                : transactions[selectedTransaction].isGenerated
                ? "Added from"
                : "Received from"
            }}
          </h5>
          <h4>{{ transactions[selectedTransaction].name }}</h4>
        </div>
      </div>
      <div class="transaction-status">
        <img src="../../../assets/done.svg" alt="" />
        <div>
          <h4>
            {{
              transactions[selectedTransaction].isSend
                ? "Paid Successfully !"
                : transactions[selectedTransaction].isGenerated
                ? "Added Successfully !"
                : "Received Successfully !"
            }}
          </h4>
          <h5>{{ transactions[selectedTransaction].transactiontime }}</h5>
        </div>
      </div>
      <div class="transaction-info">
        <div>
          <h6>R pay Transaction ID</h6>
          <h4>{{ transactions[selectedTransaction].transactionid }}</h4>
        </div>
        <div>
          <h6>
            To :
            {{
              transactions[selectedTransaction].isSent
                ? transactions[selectedTransaction].name
                : userService.selectedUser.name
            }}
          </h6>
          <h4>
            +{{
              transactions[selectedTransaction].isSent
                ? transactions[selectedTransaction].number
                : userService.selectedUser.number
            }}
          </h4>
        </div>
        <div *ngIf="!transactions[selectedTransaction].isGenerated">
          <h6>
            From :
            {{
              transactions[selectedTransaction].isSent
                ? userService.selectedUser.name
                : transactions[selectedTransaction].name
            }}
          </h6>
          <h4>
            {{
              transactions[selectedTransaction].isSent
                ? userService.selectedUser.number
                : transactions[selectedTransaction].number
            }}
          </h4>
        </div>

        <div *ngIf="transactions[selectedTransaction].isGenerated">
          <h6>{{ transactions[selectedTransaction].name }} ID</h6>
          <h4>
            {{ transactions[selectedTransaction].number }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
