<div class="main-container">
  <div class="transaction-container">
    <div class="header">
      <div class="input-containers">
        <div class="search-inputs">
          <input placeholder="Payment ID" type="text" />
        </div>
        <div class="search-inputs">
          <input placeholder="Phone" type="text" />
        </div>
        <div class="search-inputs">
          <input placeholder="Email" type="text" />
        </div>
      </div>
      <button>Search</button>
    </div>
    <div class="transactions-table">
      <div class="transactions-heading transaction">
        <div>
          <h4>Payment ID</h4>
        </div>
        <div>
          <h4>Amount</h4>
        </div>
        <div>
          <h4>From</h4>
        </div>
        <div>
          <h4>To</h4>
        </div>
        <div>
          <h4>Created At</h4>
        </div>
      </div>
    </div>
  </div>
</div>
