<div class="main-container">
  <div *ngIf="isLoading" class="spiner">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="transaction-container">
    <div class="header">
      <div class="input-containers">
        <div class="search-inputs">
          <input placeholder="Payment ID" type="text" />
        </div>
        <div class="search-inputs">
          <input placeholder="From" type="text" />
        </div>
        <div class="search-inputs">
          <input placeholder="To" type="text" />
        </div>
      </div>
      <div class="header-buttons">
        <button>Search</button>
        <div (click)="download()" class="download">
          <img src="../../assets/download.svg" alt="" />
        </div>
      </div>
    </div>

    <div class="transactions-table">
      <div class="transactions-heading transaction">
        <div>
          <h4>Payment ID</h4>
        </div>
        <div>
          <h4>Amount</h4>
        </div>
        <div>
          <h4>From</h4>
        </div>
        <div>
          <h4>To</h4>
        </div>
        <div>
          <h4>Created At</h4>
        </div>
      </div>
      <div
        class="transaction"
        *ngFor="let item of transactions; let index = index"
        [class]="{ odd: index % 2 != 0 }"
      >
        <div>
          <h4 style="color: #0779e4;">{{ item.transactionid }}</h4>
        </div>
        <div>
          <h4>Rc. {{ item.amount }}</h4>
          <h6></h6>
        </div>
        <div>
          <h4>{{ item.fromid }}</h4>
        </div>
        <div>
          <h4>{{ item.toid }}</h4>
        </div>
        <div>
          <h4>{{ item.transactiontime }}</h4>
        </div>
      </div>
    </div>
    <div class="footer">
      <div>
        <h6>
          {{ pageStatus }}
        </h6>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li
            (click)="nav(false)"
            class="page-item"
            *ngIf="
              transactions[0].transactionid !=
              transactionService.allTransactions[
                transactionService.allTransactions.length - 1
              ].transactionid
            "
          >
            <a class="page-link" style="cursor: pointer;" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li
            (click)="nav()"
            class="page-item"
            *ngIf="
              transactions[transactions.length - 1].transactionid !=
              transactionService.allTransactions[0].transactionid
            "
          >
            <a class="page-link" style="cursor: pointer;" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
