<div class="main-container">
  <nav>
    <div class="left">
      <div class="menu" (click)="toggleDrawer()">
        <img src="../../assets/menu.svg" alt="" />
      </div>
    </div>

    <div class="right">
      <div class="user-container">
        <h3>
          {{ userName }}
        </h3>
        <img src="../../assets/profile.svg" alt="" />
      </div>
    </div>
  </nav>

  <div
    [ngClass]="{ 'drawer-cover': true, 'drawer-cover-open': drawerOpen }"
    (click)="toggleDrawer()"
  >
    <div [ngClass]="{ drawer: true, 'drawer-open': drawerOpen }">
      <div style="height: 50px; width: 100%;">
        <div class="logo">
          <img src="../../assets/RLogo (5).png" alt="" />
          <h2>pay</h2>
        </div>
      </div>

      <div class="divider"></div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('Overview') }"
        (click)="selectPage('Overview')"
      >
        <img src="../../assets/overview.svg" alt="" />
        <h4>Overview</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('Transactions') }"
        (click)="selectPage('Transactions')"
      >
        <img src="../../assets/transactions.svg" alt="" />
        <h4>Transactions</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('Nodes') }"
        (click)="selectPage('Nodes')"
      >
        <img src="../../assets/nodes.svg" alt="" />
        <h4>Nodes</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('Blocks') }"
        (click)="selectPage('Blocks')"
      >
        <img src="../../assets/blocks.svg" alt="" />
        <h4>Blocks</h4>
      </div>

      <div class="divider"></div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('AllUsers') }"
        (click)="selectPage('AllUsers')"
      >
        <img src="../../assets/users.svg" alt="" />
        <h4>All Users</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('AllMerchants') }"
        (click)="selectPage('AllMerchants')"
      >
        <img src="../../assets/merchants.svg" alt="" />
        <h4>All Merchants</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('AllAdmins') }"
        (click)="selectPage('AllAdmins')"
      >
        <img src="../../assets/admin.svg" alt="" />
        <h4>All Admins</h4>
      </div>

      <div class="divider"></div>

      <!-- <div
        [ngClass]="{ options: true, selected: isCurrentPage('AddUsers') }"
        (click)="selectPage('AddUsers')"
      >
        <img src="../../assets/addUsers.svg" alt="" />
        <h4>Add Users</h4>
      </div> -->

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('AddMerchants') }"
        (click)="selectPage('AddMerchants')"
      >
        <img src="../../assets/notifications.svg" alt="" />
        <h4>Notifications</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('AddAdmins') }"
        (click)="selectPage('AddAdmins')"
      >
        <img src="../../assets/addUsers.svg" alt="" />
        <h4>Add Admins</h4>
      </div>

      <div class="divider"></div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage('MyAccount') }"
        (click)="selectPage('MyAccount')"
      >
        <img src="../../assets/myAccount.svg" alt="" />
        <h4>My Account</h4>
      </div>
    </div>
  </div>

  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
</div>
