<div class="main-container">
  <nav>
    <div class="left">
      <div class="menu" (click)="toggleDrawer()">
        <img src="../../assets/menu.svg" alt="" />
      </div>
    </div>

    <div class="right">
      <div class="user-container">
        <h3>
          {{ userName }}
        </h3>
        <img src="../../assets/profile.svg" alt="" />
      </div>
    </div>
  </nav>

  <div
    [ngClass]="{ 'drawer-cover': true, 'drawer-cover-open': drawerOpen }"
    (click)="toggleDrawer()"
  >
    <div [ngClass]="{ drawer: true, 'drawer-open': drawerOpen }">
      <div style="height: 50px; width: 100%;">
        <div class="logo">
          <img src="../../assets/RLogo (5).png" alt="" />
          <h2>pay</h2>
        </div>
      </div>

      <div class="divider"></div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(0) }"
        (click)="selectPage(0)"
      >
        <img src="../../assets/overview.svg" alt="" />
        <h4>Overview</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(1) }"
        (click)="selectPage(1)"
      >
        <img src="../../assets/transactions.svg" alt="" />
        <h4>Transactions</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(2) }"
        (click)="selectPage(2)"
      >
        <img src="../../assets/nodes.svg" alt="" />
        <h4>Nodes</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(3) }"
        (click)="selectPage(3)"
      >
        <img src="../../assets/blocks.svg" alt="" />
        <h4>Blocks</h4>
      </div>

      <div class="divider"></div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(4) }"
        (click)="selectPage(4)"
      >
        <img src="../../assets/users.svg" alt="" />
        <h4>All Users</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(5) }"
        (click)="selectPage(5)"
      >
        <img src="../../assets/merchants.svg" alt="" />
        <h4>All Merchants</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(6) }"
        (click)="selectPage(6)"
      >
        <img src="../../assets/admin.svg" alt="" />
        <h4>All Admins</h4>
      </div>

      <div class="divider"></div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(7) }"
        (click)="selectPage(7)"
      >
        <img src="../../assets/addUsers.svg" alt="" />
        <h4>Add Users</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(8) }"
        (click)="selectPage(8)"
      >
        <img src="../../assets/addMerchants.svg" alt="" />
        <h4>Add Merchants</h4>
      </div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(9) }"
        (click)="selectPage(9)"
      >
        <img src="../../assets/addAdmin.svg" alt="" />
        <h4>Add Admins</h4>
      </div>

      <div class="divider"></div>

      <div
        [ngClass]="{ options: true, selected: isCurrentPage(10) }"
        (click)="selectPage(10)"
      >
        <img src="../../assets/myAccount.svg" alt="" />
        <h4>My Account</h4>
      </div>
    </div>
  </div>

  <div [ngSwitch]="currentPageIndex" class="page-container">
    <app-overview *ngSwitchCase="0"></app-overview>
    <app-transactions *ngSwitchCase="1"></app-transactions>
    <app-nodes *ngSwitchCase="2"> </app-nodes>
    <app-blocks *ngSwitchCase="3"> </app-blocks>

    <app-alluser *ngSwitchCase="4"></app-alluser>
    <app-allmerchants *ngSwitchCase="5"></app-allmerchants>
    <app-alladmins *ngSwitchCase="6"></app-alladmins>

    <app-adduser *ngSwitchCase="7"></app-adduser>
    <app-addmerchants *ngSwitchCase="8"></app-addmerchants>
    <app-addadmins *ngSwitchCase="9"></app-addadmins>

    <app-myaccount *ngSwitchCase="10"></app-myaccount>
  </div>
</div>
