<div class="main-container">
  <div class="container">
    <!-- <img class="background" src="../../assets/cool-background.svg" alt="" /> -->

    <div class="form">
      <!-- <h3>Add User</h3>
      <div class="divider"></div> -->

      <div class="logo">
        <img src="../../assets/RLogo (5).png" alt="" />
        <h2>pay</h2>
      </div>
      <div class="input-field">
        <h5>UserName</h5>
        <input placeholder="UserName" />
      </div>
      <div class="input-field" style="margin-top: 30px;">
        <h5>Email</h5>
        <input placeholder="Email" />
      </div>
      <div class="input-field" style="margin-top: 30px;">
        <h5>Number</h5>
        <input placeholder="PhoneNumber" />
      </div>
      <div class="input-field" style="margin-top: 30px; margin-bottom: 50px;">
        <h5>Password</h5>
        <input type="password" placeholder="Password" />
      </div>
      <button>Create Account</button>
    </div>
  </div>
</div>
